@tailwind base;
@tailwind components;
@tailwind utilities;


{/* setup utililty classess */}
 
@layer utilities {
    .section_padding{
        
    }

    .flex_center {
      @apply flex justify-center items-center;
    }

    .flex_between {
      @apply flex justify-between;
    }

    .animation_in {
      @apply visible opacity-[1] translate-y-0 ease-in delay-150 duration-300
    }
    .animation_out{
      @apply invisible opacity-0 -translate-y-6 ease-in 
    }
    .slider_in {
      @apply visible opacity-[1] translate-x-0 ease-in delay-150 duration-300
    }

    .slider_out{
      @apply invisible opacity-0 translate-x-[200px] delay-100 duration-300 ease-in
    }
}



/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }