@tailwind base;
@tailwind components;
@tailwind utilities;


{/* setup utililty classess */}
 
@layer utilities {
    .section_p-y{
        @apply py-14 xsm:py-20 sm:py-24 lg:py-[120px]
    }

    .padding_x {
      @apply px-2 sm:px-3 
    }

    .flex_center {
      @apply flex justify-center items-center;
    }

    .flex_between {
      @apply flex justify-between;
    }

    .animation_in {
      @apply visible opacity-[1] translate-y-0 ease-in delay-150 duration-300
    }
    .animation_out{
      @apply invisible opacity-0 -translate-y-6 ease-in 
    }
    .slider_in {
      @apply visible opacity-[1] translate-x-0 ease-in delay-150 duration-300
    }

    .slider_out{
      @apply invisible opacity-0 translate-x-[200px] delay-100 duration-300 ease-in
    }

    .btn_animation-top {
      @apply block transition duration-500 delay-75 hover:bg-left-top 
    }

    .btn_amination {
      @apply transition duration-500 delay-75 hover:bg-left-top
    }

    .overlay {
      @apply h-full w-full overflow-hidden bg-dark_gray/30 flex  -bottom-32  hover:bottom-0 left-0 opacity-0 hover:opacity-100 cursor-pointer transition-all duration-300 
    }

    .cartHover {
      @apply h-full w-full overflow-hidden  -bottom-24 hover:bottom-0 left-0 opacity-0 hover:opacity-100  transition-all delay-150 duration-300 ease-linear
    }
}



/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* sm:px-4 md:px-5 lg:px-7 */